[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim-rails"]
	path = vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim-rake"]
	path = vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim-irblack"]
	path = vim-irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-puppet"]
	path = vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim-python-matchit"]
	path = vim-python-matchit
	url = https://github.com/voithos/vim-python-matchit.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "Smart-Home-Key"]
	path = Smart-Home-Key
	url = git@github.com:vim-scripts/Smart-Home-Key.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/eapache/rainbow_parentheses.vim.git
[submodule "vim-indent-object"]
	path = vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim-crystal"]
	path = vim-crystal
	url = https://github.com/rhysd/vim-crystal.git
[submodule "vim-elixir"]
	path = vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "auto-pairs"]
	path = auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "groovy.vim"]
	path = groovy.vim
	url = https://github.com/rdolgushin/groovy.vim
[submodule "vim-better-whitespace"]
	path = vim-better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
[submodule "vim-buffergator"]
	path = vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "promptline.vim"]
	path = promptline.vim
	url = git@github.com:edkolev/promptline.vim.git
[submodule "vim-rhubarb"]
	path = vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "fzf.vim"]
	path = fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "supertab"]
	path = supertab
	url = git@github.com:ervandew/supertab.git
[submodule "Vim-Jinja2-Syntax"]
	path = Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
